# {{ category.category_name }}

> {{ category.description }}

[⬅️ 返回主页](../README.md)

---
{% for project in category.projects %}

## {{ project.name }}

<div align="center">
{% if project.recommendation_badge %}
![Recommendation]({{ project.recommendation_badge }})
{% endif %}
{% if project.status_badge %}
![Status]({{ project.status_badge }})
{% endif %}
</div>

{% if project.notes -%}
{% for note in project.notes %}
> {{ note }}
{% endfor %}
{%- endif %}

{{ project.description }}

🏷 **关键词**：<br/>
{% for kw in project.keywords -%}
![{{ kw }}](https://img.shields.io/badge/{{ kw | urlencode }}-white) 
{% endfor %}

{% if project.reviews -%}
{% for review in project.reviews %}
💬 **{{ review.author }} 锐评**：{{ review.content }}
{% endfor %}
{%- endif %}

<table align="center">
{% for link in project.links -%}
<tr>
    <td><img src="../{{ link.icon }}" width="18" height="18"></td>
    <td><b>{{ link.name }}</b></td>
    <td><a href="{{ link.url }}">{{ link.url }}</a></td>
</tr>
{% endfor -%}
</table>

<br/><br/>

---
{% endfor %}
